<div class="row">
	<div class="form-group col-sm-6">
		<label for="fname">First Name</label>
		<input type="text" class="form-control" id="fname" placeholder="John" value="{{fname}}">
	</div>
	<div class="form-group col-sm-6">
		<label for="lname">Last Name</label>
		<input type="text" class="form-control" id="lname" placeholder="Doe" value="{{lname}}">
	</div>
	</div>
	<div class="row">
	<div class="form-group col-sm-4">
		<label for="phone">Phone</label>
		<input type="tel" class="form-control" id="phone" placeholder="+15555555555" value="{{phone}}">
	</div>
	<div class="form-group col-sm-4">
		<label for="email">Email</label>
		<input type="email" class="form-control" id="email" placeholder="john@doe.com" value="{{email}}">
	</div>
	<div class="form-group col-sm-4">
		<label for="url">Url</label>
		<input type="url" class="form-control" id="url" placeholder="http://www.johndoe.com" value="{{url}}">
	</div>
	</div>
	<div class="row">
	<div class="form-group col-sm-6">
		<button type="submit" class="form-control btn btn-primary">Submit</button>
	</div>
	<div class="form-group col-sm-6">
		<button type="reset" class="form-control btn btn-danger">Reset</button>
	</div>
</div>