<td class='col-sm-1 cid'>{{cid}}</td>
<td><input class="form-control fname" type="text" value="{{fname}}"></td>
<td><input class="form-control lname" type="text" value="{{lname}}"></td>
<td><input class="form-control phone" type="text" value="{{phone}}"></td>
<td><input class="form-control email" type="text" value="{{email}}"></td>
<td><input class="form-control url" type="text" value="{{url}}"></td>
<td class='col-sm-2'>
	<a class="btn btn-warning save" href="#save/{{cid}}" role="button"><i class="fa fa-floppy-o"></i>&nbsp;Save</a>&nbsp;
	<a class="btn btn-danger cancel" href="#cancel" role="button"><i class="fa fa-ban"></i>&nbsp;Cancel</a>
</td>
