<td class='col-sm-1 id'>{{cid}}</td>
<td>{{fname}}</td>
<td>{{lname}}</td>
<td>{{phone}}</td>
<td>{{email}}</td>
<td>{{url}}</td>
<td class='col-sm-2'>
	<a class="btn btn-warning edit" href="#edit/{{cid}}" role="button"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a>&nbsp;
	<a class="btn btn-danger delete" href="#manage" role="button"><i class="fa fa-trash-o"></i>&nbsp;Delete</a>
</td>
